


pre{
  background: #000;
  margin-bottom: 20px;
  margin: auto;
 padding: 20px;
  min-width: 370px;
  border-radius: 20px;

  max-width: 800px;
  overflow-x: auto;

}
code{
  color: rgb(173, 93, 240);

}
